
#timeContainer {
    position: relative;
    display: flex;
    box-sizing: border-box;
    width: 100%;
    height: fit-content;
    max-height: 3rem; 
    justify-content:end;
    background-color: var(--darkestColor);
    border: 5px solid var(--primColor);
    border-radius: 0 0 25px 25px;
    align-items: center;
    padding: 0 auto;
}

#timeContainer > * {
    position: relative;
    margin : 0.5rem 0;
    font-size: 1.5em;
    color: var(--lighterColor);
    padding-right: 1rem;
    
}

/* Time display */
#span {
    font-weight: 400;
    width: fit-content;  
    right: -0.5rem; 
} 

/* Extra display */
span {
    position: relative;
    font-weight: 600;
    
}


.display.brussels {
    right: 1rem;
}





