
.sliderContainer {
    width: 100%;
    height: fit-content;
    background-color: var(--darkestColor);
    padding: 0 auto;
    
}

.slider {
    display: flex;
    justify-content: space-evenly;
}

.svgIcon {
    height: 50px;
    padding: 1rem;
}