
.sliderContainer, .techSliderContainer {
    position: relative;
    width: 100%;
    height: fit-content;
    margin-top: 1rem;
    overflow: hidden;   
}

.sliderContainer {
    background-color: var(--darkestColor);
    padding: 0.7rem 0;
    border-width: 4px 0px;
    border-style: solid;
    border-color: var(--primColor);; 
}

.techSliderContainer {
    background-color: var(--darkerColor);
    padding: 0.5rem 0;
}

.slider {
    display: flex;
    position: relative;
    width: max-content;
    justify-content: space-evenly;
    
}

.svgIcon {
    height: 30px;
    padding: 0 1rem;
}

/* mobile landscape */
@media screen and (min-width: 480px)  and (orientation: landscape) {
    .svgIcon {
        height: 27px;
    }
    
  }
  
  /* table portrait */
  @media screen and (min-width: 768px)  and (orientation: portrait) {
    .svgIcon {
        height: 40px;
    }
    
}
  
  /* tablet landscape */
  @media screen and (min-width: 768px) and (orientation: landscape) {
    .svgIcon {
        height: 50px;
    }
    
  }