/* -------- main & BACKGROUND -------- */

#root {
  width: 100vw;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  background: 
    radial-gradient(closest-side, #888, #fff) 0/ 1em 1em space round, 
    radial-gradient(circle at center, #777, #fff);
  background-color: darkblue;
  background-blend-mode: multiply;
  filter: contrast(2) brightness(0.8); 
  overflow: hidden;
}




